h1{
	color: #ebe1ed;
}
body{
	background-color: #9b79a4;
	font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
ul{
	list-style-type: none;
	background-color: #7d2d8d;
	overflow: hidden;
}
ul li{
	float: left;
	text-align: center;
}
p{
	color: #e9e4eb;
}
h1{
	color: #e9e4eb;
}
ul li a{
	text-decoration: none;
	display: block;
	width: 150px;
	padding: 15px 15px;
	color:#e9e4eb ;
}
ul li a:hover{
	background-color:#867686 ;
	color:#8b5689 ;
}
.active{
	font-weight: bold;
	border-bottom: solid 2px #ebe5ed;
}
.pandoraActive{
	font-weight: bold;
	border-bottom: solid 2px #ebe5ed;
}
p{
	font-size: 35pt;
}
.GoldenGooseActive{
	font-weight: bold;
	border-bottom: solid 2px #ebe5ed;
}
.oneDilemmaActive{
	font-weight: bold;
	border-bottom: solid 2px #ebe5ed;
}
.SephoraActive{
	font-weight: bold;
	border-bottom: solid 2px #ebe5ed;
}